
.book_result {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 1rem;
}

.book_card {
    margin: 2rem;
}
    
h5 {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.modal_btn {
    border: 1px solid #000;
    border-radius: 30px;
    outline: none !important;
    width: 120px;
    outline: none;
    padding: 10px;
    text-align: center;
    background: transparent;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.modal_btn:hover {
    color: #fefffe;
    background: #000;
}