@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --primary-color: #b4dae2;
    --secondary-color: #4c40ef;
    --accent-color-1: #c4b7cd;
    --accent-color-2: #f5e5e3;
    --text-color: #3e3c3c;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

img {
    object-fit: cover;
    width: 100%;
    position: relative;
}